---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro"
import LinkedinIcon from "../components/icons/Linkedin.astro"
import GithubIcon from '../components/icons/Github.astro';
import GmailIcon from '../components/icons/Gmail.astro'
import Certificate from '../components/icons/Certificate.astro'
import SocialPill from "../components/SocialPill.astro"
import Certificates from '../components/Certificates.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import Phone from '../components/icons/Phone.astro';
import Download from '../components/icons/Download.astro';
import Experience from '../components/Experience.astro';
import Work from '../components/icons/Work.astro';
import LanguageManager from '../components/LanguageManager.jsx';
---

<Layout
title="Portfolio -Andres Franco L- Programmer and Web Developer"
description="Hire a good programmer for your web or your mobile App">
	
	<!-- Selector de idioma -->
	<LanguageManager client:load/>
	
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<div class="flex justify-center">
			<img class="rounded-full size-60 mb-7 animate-fade-up animate-once"
   			src="https://i.ibb.co/xgbs4mz/andres.jpg"
    		alt="Andres">
			</div>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-start flex-row gap-x-4 pb-6 lg:pb-10">
			<span id="greeting">Hola, soy Andres</span> <div class="flex justify-center items-center">
			<a
			href="https://www.linkedin.com/in/andresfrancolangthon/"
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center hover:animate-ping"
			>
				<Badge><span id="available-badge">Disponible para contratación</span></Badge></a></div></h1>
			
			<h2 class="text-xl lg:text-2xl opacity-80 text-justify max-w-[700px] justify-content">
  			<span id="bio-start">Desarrollador Frontend con ~2 años de experiencia práctica usando</span> 
  			<span class="text-red-300/90">React, JavaScript (ES6+), y Tailwind CSS</span>, 
  			<span id="bio-middle">complementado por 8+ años liderando equipos de ventas y operaciones comerciales.</span> 
  			<span class="text-yellow-200" id="bio-location">Desde Bogotá, Colombia — ahora radicado en Ciudad de México.</span> 
  			<span id="bio-end">Me especializo en traducir objetivos de negocio en soluciones digitales intuitivas y escalables, combinando una fuerte ejecución técnica con perspicacia estratégica para impulsar el crecimiento del producto y elevar la experiencia del usuario.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/andresfrancolangthon/">
						<LinkedinIcon class="size-4 lg:size-6"/>LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/Andresfrla">
						<GithubIcon class="size-4 lg:size-6"/>Github
					</SocialPill>
					<SocialPill href="mailto:andresfranla@gmail.com">
						<GmailIcon class="size-4 lg:size-6"/>andresfranla@gmail.com
					</SocialPill>
					<SocialPill href="https://drive.google.com/file/d/1SjZksltRKK7pujRZM70GclVWws53qpTn/view?usp=drive_link">
						<Download class="size-4 lg:size-6 animate-bounce"/><span id="download-cv">Descargar Mi CV</span>
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiences">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 item-center">
				<Work class="size-8"/>
				<span id="experience-title">Experiencia</span>
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="certificates">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 item-center">
				<Certificate class="size-8"/>
				<span id="certificates-title">Certificados</span>
			</h2>
			<Certificates />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 item-center">
				<Code class="size-7"/>
				<span id="projects-title">Proyectos</span>
			</h2>
			<Projects/>
		</SectionContainer>

		<SectionContainer id="contact">
			<h2 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-start flex-row gap-x-4 pb-6 lg:pb-10">
				<span id="contact-title">Contactemos</span>
			</h2>
			<div class="flex gap-4 mt-8 flex-col">
				<a class="flex flex-row mb-2" href="mailto:andresfranla@gmail.com ">
					<GmailIcon class="size-4 lg:size-6 mr-2 animate-bounce animate-infinite"/> andresfranla@gmail.com
				</a>
				<div class="flex flex-row mb-2">
					<Phone class="size-4 lg:size-6 mr-2 animate-wiggle animate-infinite"/> +52 56 450 344 82
				</div>
				<a class="flex flex-row mb-2" href="https://github.com/Andresfrla">
					<GithubIcon class="size-4 lg:size-6 mr-2"/> Github
				</a>
				<a class="flex flex-row mb-2" href="https://www.linkedin.com/in/andresfrancolangthon/">
					<LinkedinIcon class="size-4 lg:size-6 mr-2"/> Linkedin
				</a>
			</div>
		</SectionContainer>
	</main>
</Layout>