

<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center text-yellow-400/90">
      <span class="en-text">© 2023 <a href="https://www.linkedin.com/in/andresfrancolangthon/" class="hover:underline">Andres Franco™</a>. All Rights Reserved.</span>
      <span class="es-text hidden">© 2023 <a href="https://www.linkedin.com/in/andresfrancolangthon/" class="hover:underline">Andres Franco™</a>. Todos los derechos reservados.</span>
    </span>

    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6">
          <span class="en-text">Projects</span>
          <span class="es-text hidden">Proyectos</span>
        </a>
      </li>
      <li>
        <a href="#experiences" class="hover:underline me-4 md:me-6">
          <span class="en-text">Experience</span>
          <span class="es-text hidden">Experiencia</span>
        </a>
      </li>
      <li>
        <a href="#certificates" class="hover:underline me-4 md:me-6">
          <span class="en-text">Certificates</span>
          <span class="es-text hidden">Certificados</span>
        </a>
      </li>
      <li>
        <a href="#contact" class="hover:underline">
          <span class="en-text">Contact</span>
          <span class="es-text hidden">Contacto</span>
        </a>
      </li>
    </ul>
  </div>
</footer>


