<header class="flex justify-center items-center sm:py-5 w-full xl:w-[1120px] mx-auto text-white fixed top-0 z-50 left-0 right-0">

    <nav class="flex flex-row gap-x-10 bg-black rounded-md p-3">
        <a href="#top" class="hover:font-bold">Home</a>
        <a href="#experiences" class="hover:font-bold">Experience</a>
        <a href="#certificates" class="hover:font-bold">Certificates</a>
        <a href="#projects" class="hover:font-bold">Projects</a>
        <a href="#contact" class="hover:font-bold">Contact</a>
    </nav>
</header>