<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto text-white">

    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="#top" class="hover:font-bold">Home</a>
        <a href="#experience" class="hover:font-bold">Certificates</a>
        <a href="#projects" class="hover:font-bold">Projects</a>
        <a href="#contact" class="hover:font-bold">Contact</a>
    </nav>
</header>